<div class="panel panel-default panel-ews panel-hierarchy">
  <!-- Default panel contents -->
  <div class="panel-heading">
    Your Direct Report
  </div>

  <div class="row section-heading">
    <div class="col-xs-1">Pic</div>
    <div class="col-xs-3">Name</div>
    <div class="col-xs-2">Employee ID</div>
    <div class="col-xs-2">Position</div>
    <div class="col-xs-2">Last Updated</div>
    <div class="col-xs-1">Status</div>
    <div class="col-xs-1"></div>
  </div>
  {{#each reports as |report|}}
    {{hierarchy-item item=report}}
  {{/each}}
</div>
{{yield}}
