<nav class="navbar navbar-default navbar-ews">
  <div class="container">
    <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ews-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse row" id="ews-navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active col-sm-2-4">
              {{#link-to 'home'}}
                <svg class="center-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 46.69">
                  <title>nav-home</title>
                  <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                      <path d="M11.2,28.29H22.4v-8H11.2Zm1.6-1.6v-2.4h8v2.4Zm8-4.8v.8h-8v-.8Zm0,0"/>
                      <path d="M11.2,31.49v9.6H22.4v-9.6Zm4.8,1.6v2.4H12.8v-2.4Zm-3.2,4H16v2.4H12.8Zm4.8,2.4v-2.4h3.2v2.4Zm3.2-4H17.6v-2.4h3.2Zm0,0"/>
                      <path d="M25.6,28.29H36.8v-8H25.6Zm1.6-1.6v-.8h8v.8Zm8-4.8v2.4h-8v-2.4Zm0,0"/>
                      <path d="M47.2,37.89a.8.8,0,0,0-.8.8v.8h-.8v-.8a.8.8,0,0,0-1.6,0v.8h-.8V23.33a3.15,3.15,0,0,0,3.64-.74,3.2,3.2,0,0,0-.37-4.7L26.18,2,24,0,21.88,2,1.53,17.89a3.19,3.19,0,0,0-.37,4.7,3.17,3.17,0,0,0,3.64.74V39.49H4v-.8a.8.8,0,0,0-1.6,0v.8H1.6v-.8a.8.8,0,0,0-1.6,0v7.2a.8.8,0,0,0,1.6,0v-.8h.8v.8a.8.8,0,0,0,1.6,0v-.8h.8v1.6H43.2v-1.6H44v.8a.8.8,0,0,0,1.6,0v-.8h.8v.8a.8.8,0,0,0,1.6,0v-7.2a.8.8,0,0,0-.8-.8ZM2.33,21.5a1.59,1.59,0,0,1,.19-2.34l20.39-16,1.09-1,1.14,1.05L45.48,19.16a1.59,1.59,0,0,1,.19,2.34,1.59,1.59,0,0,1-2.15.18l-.32-.25L24,6.63,5.11,21.19h0l-.63.49a1.59,1.59,0,0,1-2.15-.18Zm-.73,22v-2.4h.8v2.4Zm2.4,0v-2.4h.8v2.4Zm23.2,1.6v-12h8v12Zm14.4,0H36.8V31.49H25.6v13.6H6.4V22.22L24,8.65,41.6,22.22Zm1.6-1.6v-2.4H44v2.4Zm2.4,0v-2.4h.8v2.4Zm0,0"/>
                    </g>
                  </g>
                </svg>
                <div class="text-center">Home</div>
              {{/link-to}}
          </li>
          <li class="col-sm-2-4">
              {{#link-to 'notifications'}}
                <svg class="center-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 366.65">
                  <title>nav-notification</title>
                  <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                      <path d="M478.33,111.14H300.8a153.64,153.64,0,0,0-45.13-72C222.75,9.62,180.22-3.92,135.92,1,64.87,8.84,8,66.19.81,137.35a153.43,153.43,0,0,0,120.11,166l37.84,37.84a16.57,16.57,0,0,0,28.28-11.72v-26.5a153.77,153.77,0,0,0,18.17-5.26v1a33.71,33.71,0,0,0,33.67,33.67h56.54l30.12,30.12a14,14,0,0,0,24-9.93V332.41h128.8A33.71,33.71,0,0,0,512,298.74V144.81A33.71,33.71,0,0,0,478.33,111.14ZM177.63,288.49a8,8,0,0,0-6.61,7.89v33.06a.54.54,0,0,1-.91.38l-39.54-39.54a8,8,0,0,0-4.11-2.19A137.4,137.4,0,0,1,137.68,16.92,144.33,144.33,0,0,1,153.57,16,135.79,135.79,0,0,1,245,51a137.27,137.27,0,0,1-67.35,237.44ZM496,298.74a17.66,17.66,0,0,1-17.64,17.64H341.51a8,8,0,0,0-8,8v23.4l-29.07-29.07a8,8,0,0,0-5.67-2.35H238.89a17.66,17.66,0,0,1-17.64-17.64v-7.82a153.16,153.16,0,0,0,83.23-163.74H478.33A17.66,17.66,0,0,1,496,144.81Z"/>
                      <path d="M438.46,173.35l-79.84,79.84-37.07-37.07a8,8,0,0,0-11.34,11.34l42.74,42.74a8,8,0,0,0,11.34,0l85.51-85.51a8,8,0,1,0-11.34-11.34Z"/>
                      <path d="M153.38,213.79h0a8,8,0,0,0-8,8h0a8,8,0,0,0,8,8h0a8,8,0,0,0,8-8h0A8,8,0,0,0,153.38,213.79Z"/>
                      <path d="M153.37,77a50.83,50.83,0,0,0-50.77,50.77,8,8,0,0,0,16,0A34.78,34.78,0,0,1,153.38,93a35.4,35.4,0,0,1,34.74,34.74A35,35,0,0,1,163.38,161a25,25,0,0,0-18,24v2.55a8,8,0,0,0,16,0v-2.55a9.06,9.06,0,0,1,6.59-8.67,51.09,51.09,0,0,0,36.17-48.64A51.43,51.43,0,0,0,153.37,77Z"/>
                    </g>
                  </g>
                </svg>
                <div class="text-center">Notification</div>
              {{/link-to}}
          </li>
          <li class="col-sm-2-4">
              {{#link-to 'evaluation'}}
                <svg class="center-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 376">
                  <title>nav=staffeval</title>
                  <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                      <path d="M286.72,297.69c.09-.12.18-.23.27-.35l.06-.1c.09-.13.17-.26.24-.4l0-.08a4.81,4.81,0,0,0,.21-.45l0-.06a5.22,5.22,0,0,0,.18-.5s0,0,0-.06.09-.34.13-.51,0-.09,0-.14.05-.29.07-.44,0-.4,0-.6V6a6,6,0,0,0-6-6H6A6,6,0,0,0,0,6V370a6,6,0,0,0,6,6H206c.2,0,.4,0,.6,0l.44-.07.14,0,.5-.12.07,0a5,5,0,0,0,.48-.17l.07,0,.44-.21.09,0,.38-.23.12-.07.34-.25.13-.1.39-.35,0,0,76-76,0,0,.36-.4.09-.12ZM12,12H276V288H206a6,6,0,0,0-6,6v70H12ZM267.52,300,212,355.52V300Zm0,0"/>
                      <path d="M119,76H234a6,6,0,1,0,0-12H119a6,6,0,0,0,0,12Zm0,0"/>
                      <path d="M65.76,90.24a6,6,0,0,0,8.48,0l32-32a6,6,0,1,0-8.48-8.48L70,77.52l-7.76-7.76a6,6,0,1,0-8.48,8.48Zm0,0"/>
                      <path d="M104,126a6,6,0,0,0,6,6H234a6,6,0,1,0,0-12H110a6,6,0,0,0-6,6Zm0,0"/>
                      <path d="M86,104H54a6,6,0,0,0-6,6v32a6,6,0,0,0,6,6H86a6,6,0,0,0,6-6V110a6,6,0,0,0-6-6Zm-6,32H60V116H80Zm0,0"/>
                      <path d="M234,176H110a6,6,0,0,0,0,12H234a6,6,0,0,0,0-12Zm0,0"/>
                      <path d="M86,160H54a6,6,0,0,0-6,6v32a6,6,0,0,0,6,6H86a6,6,0,0,0,6-6V166a6,6,0,0,0-6-6Zm-6,32H60V172H80Zm0,0"/>
                      <path d="M234,232H110a6,6,0,1,0,0,12H234a6,6,0,1,0,0-12Zm0,0"/>
                      <path d="M86,216H54a6,6,0,0,0-6,6v32a6,6,0,0,0,6,6H86a6,6,0,0,0,6-6V222a6,6,0,0,0-6-6Zm-6,32H60V228H80Zm0,0"/>
                      <path d="M182,288H110a6,6,0,0,0,0,12h72a6,6,0,0,0,0-12Zm0,0"/>
                      <path d="M86,272H54a6,6,0,0,0-6,6v32a6,6,0,0,0,6,6H86a6,6,0,0,0,6-6V278a6,6,0,0,0-6-6Zm-6,32H60V284H80Zm0,0"/>
                    </g>
                  </g>
                </svg>
                <div class="text-center">Staff Evaluation</div>
              {{/link-to}}
          </li>
          <li class="col-sm-2-4">
              {{#link-to 'history'}}
                <svg class="center-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.93 44.8">
                  <title>nav-history</title>
                  <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                      <path d="M47.68,17.16a1,1,0,0,0-.77-.36H44.8V5.41A1.42,1.42,0,0,0,43.39,4H18.85l-2-3.31A1.41,1.41,0,0,0,15.65,0h-11A1.42,1.42,0,0,0,3.2,1.41V16.8H1A1,1,0,0,0,0,18l3.93,26a1,1,0,0,0,1,.87H43a1,1,0,0,0,1-.87l3.93-26a1,1,0,0,0-.23-.82ZM4.8,1.6H15.55l2,3.31a1.43,1.43,0,0,0,1.21.69H43.2V16.8h-.8V13.6h-.8V11.2h-.8V8.8H7.2v2.4H6.4v2.4H5.6v3.2H4.8ZM7.2,15.2H40.8v1.6H7.2ZM8,12.8H40v.8H8Zm31.2-1.6H8.8v-.8H39.2Zm3.28,32h-37L1.7,18.4H46.23Zm0,0"/>
                    </g>
                  </g>
                </svg>
                <div class="text-center">History</div>
              {{/link-to}}
          </li>
          <li class="col-sm-2-4">
              {{#link-to 'dashboard'}}
                <svg class="center-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 415.17">
                  <title>nav-mydashboard</title>
                  <g id="Layer_2" data-name="Layer 2">
                    <g id="Layer_1-2" data-name="Layer 1">
                      <path d="M479.38,0H142.64A32.66,32.66,0,0,0,110,32.62V132.75a44.06,44.06,0,0,0-35.39,46.1L76,200.11l3.24,49.66a55.09,55.09,0,0,0,94,35.28H479.38A32.66,32.66,0,0,0,512,252.43V32.62A32.66,32.66,0,0,0,479.38,0Zm-378,159.78a23.47,23.47,0,0,1,17.29-7.5h26.29l-5.68,15.16c-1.56,2.37-12.21,16.66-43.55,20.88l-.7-10.8A23.46,23.46,0,0,1,101.33,159.78Zm63.39-2.23a24.14,24.14,0,0,1,2.4,2.23,23.46,23.46,0,0,1,6.35,17.74l-.13,2a59.94,59.94,0,0,1-10.49-3.74,20.28,20.28,0,0,1-4-2.57Zm-13.78,119A34.7,34.7,0,0,1,99.6,248.44L97,208.71c24.8-3.11,40.26-11.85,49.33-19.43a42.07,42.07,0,0,0,7.15,4.58c4.09,2.11,10.19,4.22,18.5,6.39l-3.14,48.19A34.53,34.53,0,0,1,150.95,276.59ZM451.69,249a10.2,10.2,0,1,0,0-20.4H440.61V60.48a10.2,10.2,0,0,0-10.2-10.2H381.16A10.2,10.2,0,0,0,371,60.48V228.6H358.28v-73a10.2,10.2,0,0,0-10.2-10.2H298.84a10.2,10.2,0,0,0-10.2,10.2v73H276.69v-128a10.2,10.2,0,0,0-10.2-10.2H217.24a10.2,10.2,0,0,0-10.2,10.2v128H190.58L192.91,193l.92-14.18a44.27,44.27,0,0,0-10.24-31.23V46.76a10.2,10.2,0,0,0-20.4,0V134a44,44,0,0,0-13.36-2.09H130.42V32.62A12.23,12.23,0,0,1,142.64,20.4H479.38A12.23,12.23,0,0,1,491.6,32.62V252.43a12.23,12.23,0,0,1-12.22,12.22H186.13a55.4,55.4,0,0,0,3.07-14.88l0-.77H451.69Zm-195.4-20.4H227.44V110.77h28.85Zm81.59,0H309V165.83h28.85Zm82.32,0H391.36V70.68h28.85Z"/>
                      <path d="M267.9,374.63a84.16,84.16,0,0,0-82.83-69.18H169.5a10.2,10.2,0,0,0-7.21,3L134.23,336.5l-28.06-28.06a10.2,10.2,0,0,0-7.21-3H83.39A84.16,84.16,0,0,0,.56,374.63a34.41,34.41,0,0,0,33.86,40.54H234a34.41,34.41,0,0,0,33.86-40.54Zm-23.1,15.11a14,14,0,0,1-10.75,5H34.41a14,14,0,0,1-13.79-16.51,63.76,63.76,0,0,1,62.76-52.41H94.73L127,358.14a10.2,10.2,0,0,0,14.42,0l32.29-32.29h11.34a63.76,63.76,0,0,1,62.76,52.41h0A14,14,0,0,1,244.79,389.74Z"/>
                      <path d="M472.22,30A10.2,10.2,0,0,0,462,40.19V78.94a10.2,10.2,0,0,0,20.4,0V40.19A10.2,10.2,0,0,0,472.22,30Z"/>
                      <path d="M472.22,101.38a10.2,10.2,0,0,0-10.2,10.2v5.1a10.2,10.2,0,1,0,20.4,0v-5.1A10.2,10.2,0,0,0,472.22,101.38Z"/>
                    </g>
                  </g>
                </svg>
                <div class="text-center">My Dashboard</div>
              {{/link-to}}
          </li>
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div><!-- /.container -->
</nav>
