<div class="user-card">
  <img src="https://randomuser.me/api/portraits/lego/0.jpg">
  <div class="arrow-down pull-right">
    <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
  </div>
  <div class="user-summary pull-right">
    <div class="user-name">{{name}}</div>
    <div class="user-position">{{position}}</div>
  </div>
</div>