@charset "UTF-8";

// Fonts
@font-face {
  font-family: OpenSans-Regular;
  src: url('/assets/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSans-Bold;
  src: url('/assets/fonts/OpenSans-Bold.ttf');
}

$font1: OpenSans-Regular;
$font2: OpenSans-Bold;

// Colors
$white: #ffffff;
$black: #000000;
$blue: #00728f;
$light-blue: #0099cc;
$grey: #cccccc;
$grey-1: #333333;
$light-grey: #999999;
$lighter-grey-1: #f9f9f9;
$lighter-grey-2: #f3f3f3;
$lighter-grey-3: #fcfcfc;
$lighter-grey-4: #f4f3f3;
$lighter-grey-5: #666666;
$lighter-grey-6: #ececec;
$green: #50b431;
$light-blue-2: #009acf;
$light-blue-3: #edf8fb;
$red: #ff0000;
$light-blue-4: #77c8e3;
$light-blue-5: #006699;
$yellow: #ece31b;
$pink: #f49999;
$light-red: #f65454;
$red-2: #d10000;
$light-yellow: #ffffcd;


$color1: $white;
$color2: $black;
$color3: $blue;
$color4: $grey;
$color5: $light-grey;
$color6: $lighter-grey-1;
$color7: $lighter-grey-2;
$color8: $lighter-grey-3;
$color9: $lighter-grey-4;
$color10: $light-blue;
$color11: $lighter-grey-5;
$color12: $green;
$color13: $light-blue-2;
$color14: $light-blue-3;
$color15: $red;
$color16: $light-blue-4;
$color17: $light-blue-5;
$color18: $yellow;
$color19: $pink;
$color20: $light-red;
$color21: $red-2;
$color22: $light-yellow;
