div.login-container {
  width: 300px;
  padding-top: 80px;
  margin: 0 auto;

  div.header {
    padding: 0 0 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;

    svg {
      padding: 0 0 10px;
    }
  }

  div.msg {
    display: none;
    padding-bottom: 15px;
    text-align: center;
    color: $lighter-grey-5;
    font-size: 12px;

    &.error {
      color: $red-2;
      display: block;
    }
  }

  form {
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    margin: 0 auto;
    padding: 20px 0;

    div.field {
      margin-bottom: 10px;
      border-bottom: 1px solid #efefef;
      padding-left: 10px;

      svg {
        width: 25px;
        height: 25px;
        position: absolute;
      }

      input {
        width: 100%;
        height: 30px;
        font-size: 12px;
        padding-right: 10px;
        border: medium none;
        outline: none;
        background-color: #fff;
        padding-left: 34px;
        padding-bottom: 2px;
      }
    }

    div.action {
      padding: 5px 15px 0;
      text-align: center;

      button {
        width: 100%;
        background-color: $blue;
        font-size: 13px;
        font-weight: bold;
        color: $white;
        border: medium none;
        border-radius: 4px;
        height: 32px;
      }
    }
  }
}
