.modal-ews {
  width: 500px;
  height: auto;
  min-height: 250px;
  padding: 20px 35px;

  div.modal-heading {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 18px;
    text-align: center;
  }

  div.msg {
    font-size: 11px;
    font-weight: bold;
  }

  div.recipient {
    font-size: 12px;
    text-align: center;
    width: 100%;
    padding: 8px 0;

    span.name {
        font-weight: bold;
    }
  }

  div.add-contact {
    margin-top: 12px;
    position: absolute;
    right: 50px;

    a {
      cursor: pointer;
    }
  }

  div.contacts {
    position: absolute;
    right: -150px;
    top: 150px;
    width: 180px;
    height: 120px;
    border-radius: 5px;
    background-color: $white;
    border: 1px solid $grey;

    div.carat {
      width: 0;
      height: 0;
      border-top: 11px solid transparent;
      border-bottom: 11px solid transparent;
      border-right:11px solid $white;

      span.inner {
        position: relative;
        top: -20px;
        left: 2px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid $grey;
      }
    }
  }

  form {
    input, textarea {
      font-family: $font1;
      font-size: 12px;
      width: 100%;
      color: $grey;
      margin: 7px 0;
      border-radius: 5px;
      border: 1px solid $grey;
      padding: 5px;

      &:disabled {
        background-color: $white;
        color: $lighter-grey-6;
      }
    }

    .modal-buttons {
      display: table;
      margin: 0 auto;

      button {
        font-size: 11px;
        font-weight: bold;
        height: 30px;
        width: 125px;
        border: 1px solid $grey;
        border-radius: 5px;
        margin: 20px 8px;

        &.close-modal {
          float: left;
          background-color: $lighter-grey-2;
        }

        &.action {
          float: right;
          color: $white;
          background-color: $light-blue-2;
        }
      }
    }
  }
}
