.navbar-ews.navbar-default {
  padding-top: 8px;
  margin-bottom: 0;
  border-radius: 0;
  background-color: $color1;
  border-top-style: none;
  border-bottom-color: $color4;
  border-bottom-width: 2px;

  @media (min-width: 1200px) {
    .navbar-collapse {
      margin-left: 10%;
      margin-right:10%;
    }
  }

  @media (min-width: 768px) {
    height: 88px;

    svg {
      height: 36px;
      fill: $color5;
    }

    .navbar-nav {

      width: 100%;

      a {
        padding: 8px 0;
      }

      li {
        padding: 0 22px;

        a, a:focus, a:hover {
          background-color: $color1;
        }

        a.active {
          background-color: $color1;
          border-bottom: 3px solid $color3;

          div {
            color: $color3;
          }

          svg {
            fill: $color3;
          }
        }

        div.bubble {
          position: absolute;
          right: 34px;
          top: 7px;
          width: 20px;
          height: 20px;
          border-radius: 15px;
          background-color: $red;
          color: $white;
          text-align: center;
          line-height: 12px;
        }

      }

      div {
        padding-top: 4px;
        font-weight: 600;
        font-size: 12px;
        color: $color5;
      }
    }
  }

}
