.panel-ews {

  border-radius: 0;
  margin: 40px 0;

  img {
    height: 26px;
    border-radius: 50%;
  }

  a {
    color: $color2;
  }

  .table {
    thead {
      tr {
        th {
          border-bottom: 1px solid $color4;
          font-family: $font2;
        }
      }
    }

    tbody {
      tr {

        &.even {
          background-color: $color6;
        }

        td {
          padding-top: 11px;
          border-top: 1px solid $color9;

          &.filler {
            border-top-width: 0;
          }

          strong.evaluation-status {
            &.is-overdue, &.not-rated {
              a {
                color: $color15;
              }
            }

            &.is-updated {
              a {
                color: $color12;
              }
            }
          }
        }
      }
    }
  }

  .panel-heading {
    padding-top: 16px;
    background-color: $color8;
    font-family: $font2;
    font-size: 16px;
    border-bottom: 1px solid $color4;

    span {

      &.subtitle {
        font-family: $font1;
        font-size: 12px;
        margin-left: 100px;
      }

      &.subtitle.right {
        margin-left: 0px;
        float: right;
      }

      &.glyphicon {
        font-family: 'Glyphicons Halflings';
      }

      &.employee-id, &.position {
        font-family: $font1;
        margin-left: 50px;
      }
    }

    .history-owner {
      height: 30px;
      margin-top: -10px;
    }
  }

  &.panel-evaluation {

    .panel-heading {
      padding-top: 10px;

      span {
        &.glyphicon {
          top: 6px;
          font-size: 20px;
          color: $color11;
        }

        &.position {
          font-family: $font1;
          margin-left: 10px;
          font-size: 16px;
        }

        &.name {
          margin-left: 4px;
          color: $color10;
          text-decoration: underline;
        }

      }

      img {
        height: 30px;
      }

    }

    table {
      thead {
        tr {
          th {
            padding-left: 14px;

            &.rated-healthy {
              color: $color12;
            }

            &.rated-normal {
              color: $color18;
            }

            &.rated-warning {
              color: $color19;
            }

            &.rated-danger {
              color: $color20;
            }

            &.rated-critical {
              color: $color21;
            }
          }
        }
      }

      tr {

        &.padding {
          height: 50px;
        }

        &.criteria {
          height: 80px;

          .description {
            margin-left: 40px;
            margin-top: 6px;
          }

          .abc-radio input[type="radio"] + label::after {
            background-color: $color11;
          }

          .toggle-description {

            &.active {
              fill: $color5;
            }
            fill: $color10;
            height: 15px;
            margin-left: 6px;
            cursor: pointer;
          }
        }

        textarea.comment {
          margin: 10px 0 10px 47px;
          width: 90%;
        }

        span {

          &.number {
            margin-left: 6px;
            display: inline-block;
            width: 30px;
            font-family: $font2;
          }

          &.name {
            font-family: $font2;
          }
        }
      }
    }

    .btn-submit-evaluation {
      margin: 20px 60px 20px 0;
      width: 100px;
      background-color: $color10;
      color: $color1;
      font-family: $font2;
    }
  }

  &.panel-warning-info {

    .warning-info-content {
      margin: 40px 0 40px 50px;

      svg {
        width: 42px;
        fill: $color13;
        margin-top: -17px;
        margin-left: 54px;
      }

      .user-photo {
        padding: 20px 16px;
        font-family: $font2;
        font-size: 20px;
        background-color: $color3;
        color: $color1;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        display: inline-block;
      }

      .warning-info-report {
        margin-left: 72px;

        svg {
          margin-top: -6px;
          margin-left: 70px;
        }

        div {

          &.report {
            display: inline-block;
            padding: 12px 8px 0 8px;
            margin-bottom: 8px;

            &:hover {
              background-color: $color14;
            }
          }

          &.photo {
            display: inline-block;
            img {
              margin-top: -24px;
              height: 40px;
              width: 40px;
            }
          }

          &.name {
            display: inline-block;
            height: 48px;

            strong {
              font-family: $font2;
            }
          }

          &.rated-critical {
            color: $color15;
          }

          .intervene {
            font-family: $font2;
            color: $color13;
            text-decoration: underline;
          }

          .glyphicon {
            color: $color13;
          }
        }

      }
    }

  }

  div.panel-pie {

    padding: 50px 30px;

    canvas {
      margin: 0 auto;
      cursor: pointer;
    }

  }
}
