.panel-ews {

  border-radius: 0;
  margin: 40px 0;

  img {
    height: 26px;
    border-radius: 50%;
  }

  a {
    color: $color2;
  }

  .table {
    thead {
      tr {
        th {
          border-bottom: 1px solid $color4;
          font-family: $font2;
        }
      }
    }

    tbody {
      tr {
        td {
          padding-top: 11px;
          border-top: 1px solid $color9;
        }
      }
    }
  }

  .panel-heading {
    padding-top: 16px;
    background-color: $color8;
    font-family: $font2;
    font-size: 16px;
    border-bottom: 1px solid $color4;

    span {

      &.subtitle {
        font-family: $font1;
        font-size: 12px;
        margin-left: 100px;
      }

      &.glyphicon {
        font-family: 'Glyphicons Halflings';
      }
    }
  }

  &.panel-evaluation {
    
    .panel-heading {
      padding-top: 10px;

      span {
        &.glyphicon {
          top: 6px;
          font-size: 20px;
          color: $color11;
        }

        &.position {
          font-family: $font1;
          margin-left: 10px;
          font-size: 16px;
        }

        &.name {
          margin-left: 4px;
          color: $color10;
          text-decoration: underline;
        }

      }

      img {
        height: 30px;
      }

    }

    table {
      thead {
        tr {
          th {
            padding-left: 14px;
          }
        }
      }

      tr {

        &.padding {
          height: 50px;
        }

        &.criteria {
          height: 80px;

          &.even {
            background-color: $color6;
          }

          .abc-radio input[type="radio"] + label::after {
            background-color: $color11; 
          }
        }

        span {

          &.number {
            margin-left: 6px;
            display: inline-block;
            width: 30px;
            font-family: $font2;
          }

          &.name {
            font-family: $font2;
          }
        }
      }
    }
  }
}