<div class="container">
  {{#if currentUser.user.subordinates}}
  {{history-hierarchy reports=currentUser.user.subordinates}}
  {{/if}}
  <!-- TODO: Implement for talent manager -->
</div>
{{outlet}}
