{{navbar-ews model=model}}
<div class="container">
  {{#if currentUser.user.subordinates}}
  {{dashboard-display owner=currentUser.user reports=currentUser.user.allSubordinates}}
  {{/if}}
</div>
{{outlet}}
