{{navbar-ews}}
<div class="container">
  {{#if currentUser.user.notifications}}
  {{notification-control-panel notifications=currentUser.user.notifications}}
  {{notification-hierarchy reports=currentUser.user.subordinates}}
  {{/if}}
  <!-- TODO: Implement this for Talent Manager -->
</div>
{{outlet}}
